REDIS_PASSWORD="password"
REDIS_HOST=auth_redis
POSTGRES_DB=auth_db
POSTGRES_PASSWORD=auth_db
POSTGRES_USER=auth_db
POSTGRES_NAME=auth_db
POSTGRES_HOST=auth_db
SECRET_KEY="django-insecure-jefub^drfhc2=*%2r8!6(bxsh=5akb^k-pqji7gy)52w)*odfu"
